body {
margin: 0 auto;
font: caption;
font-size: 1rem;
font-weight: 500;
}

.container{
  display: flex;
  margin: 5% auto;
  justify-content: left;
  width: 50%;
  border: 5px solid rgb(84, 82, 82);
  box-shadow: 25px 5px 50px rgb(134, 134, 133);
  overflow: hidden;
}